.btn
    background-color: #fff1d0
    border: 2px solid #ff7d00
    border-radius: 10px
    padding: 10px
    cursor: pointer

    &:hover
        background-color: #ff7d00

    &:active
        background-color: #2b2d42
        border: 2px solid #2b2d42
        color: #fff1d0